
// Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #234a95 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  z-index: 2;	
}

.navbar-dark{
	margin-top: 75px;
	//background-color: #122C34;
	z-index: 1;
}

.subnavbar{
	margin-top: 75px;
	background-color: #122C34;
	z-index: 1;
	.nav-link{
		color: white;
	}
}
.blue-nav-item{
	color: #fff;
}
.progress-bar1{
	width:25%;
}
.progress-bar2{
	width:50%;
}
.progress-bar3{
	width:75%;
}
.progress-bar4{
	width:100%;
}
.table{
	.tableHeader{
		text-align: center;
	}
}

.blue-nav-item:hover{
	color: #fff;
	background-color: rgba(125,136,145,0.5);
}


.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #393E41;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 65px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #D3D0CB;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    //font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
body{
	padding-top: 150px;
	
}
